@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a0a0a; /* Nossa cor de fundo */
  min-height: 100vh;
  antialiased; /* Deixa a fonte mais nítida, estilo Apple */
}